<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add connectionString="data source=10.71.80.113,15433;Trusted_Connection=Yes;initial catalog=Bristlecone_Auth;" providerName="System.Data.SqlClient" name="BristleconeIdentity" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add connectionString="data source=10.71.80.113,15433;initial catalog=IDS_test;Trusted_Connection=Yes;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" name="IDSDataContext" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <machineKey
  validationKey="5B0FAAEC47D2B75CD65094AD31597B8D42AA93C61BAD1AA69D17507D030873FB3A4C56FD63C8E595F41AD1E348FA031FF6C828C3ABE1057F223C57B3B5BD1D61"
  decryptionKey="92C319C45F234D4C6F34FB74B09732A6572DEE2849CF180A"
  validation="SHA1"
  decryption="AES"
  xdt:Transform="Replace"
    />
  </system.web>
</configuration>