<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add connectionString="data source=10.71.80.112,1433;Trusted_Connection=Yes;initial catalog=Bristlecone_Auth;" providerName="System.Data.SqlClient" name="BristleconeIdentity" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add connectionString="data source=10.71.80.112,1433;initial catalog=IDS;Trusted_Connection=Yes;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" name="IDSDataContext" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <machineKey
  validationKey="CF16EDCFFC314DAEC257B17AB2934CE705066B8FBB9689794EDF79636897EB61CD26327CFABF0E52A44DEAFFF3E560E969929729D33DCEDB425DB3BC825FEDF4"
  decryptionKey="DD9ABDE8FBBBBF241A4C089A67A71DC35418897156D0D906"
  validation="SHA1"
  decryption="AES"
  xdt:Transform="Replace"
    />
  </system.web>
</configuration>