<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add connectionString="data source=172.30.3.9,15433;user id=ASPNET2;pwd=ID3XP3RTS_DEV1;initial catalog=Bristlecone_Auth;" providerName="System.Data.SqlClient" name="BristleconeIdentity" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add connectionString="data source=172.30.3.9,15433;initial catalog=IDS_test;user id=ASPNET2;pwd=ID3XP3RTS_DEV1;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" name="IDSDataContext" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <machineKey
  validationKey="1AB576CAA39843F569F53BBD01BD154BEBEF0B379A640F16438D9875F4F43B443B14AB1D40F4FB02F485AFEB87170DD2162D9705878459B8A3A02CE1F219ACA9"
  decryptionKey="164E48FF32F757E8D667A9B5A905532C6222A0E7DBCFA2C3"
  validation="SHA1"
  decryption="AES"
  xdt:Transform="Replace"
    />
  </system.web>
</configuration>